body {
  background: #000000;
}

.container {
  position: relative;
  width: 393px;
  background: #ffffff;
  height: 852px;
  margin: 0 auto;
}

/* Buttons */

.primaryButton {
  position: absolute;
  width: 294px;
  height: 47px;
  left: 50px;
  top: 721px;
  background: #9791fe;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF Compact";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.primaryButtonText {
  font-family: "sans-serif", "Helvetica Nue", "Helvetica", "Arial", "Ubuntu";
  color: #000000;
  letter-spacing: 0.02em;
}

#publishThisEpisode {
  width: 345px;
  height: 45px;
  left: 24px;
  top: 341px;
}

#publish {
  left: 50px;
  top: 651px;
}

.play {
  position: absolute;
  width: 40px;
  height: 39px;
}

#play1 {
  left: 35px;
  top: 374px;
}

#play2 {
  left: 35px;
  top: 463px;
}

.radioButton {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #878787;
  border-radius: 50%;
  background-color: #ffffff;
  left: 50px;
  top: 156px;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

#thirtySecs {
}

/* Title Input */

.inputField {
  box-sizing: border-box;
  position: absolute;
  width: 294px;
  height: 61px;
  left: 50px;
  top: 208px;
  border: 1px solid #878787;
  border-radius: 4px;
  padding: 13px 13px 32px 11px;
}

.inputField::placeholder {
  position: absolute;
  padding: 0;
}

#episodeTitle {
}

#episodeDescription {
  width: 294px;
  height: 121px;
  top: 330px;
  resize: none;
  padding: 13px;
  font-family: "sans-serif", "Helvetica Nue", "Helvetica", "Arial", "Ubuntu";
}

#episodeDescription::placeholder {
  font-family: "sans-serif", "Helvetica Nue", "Helvetica", "Arial", "Ubuntu";
}

#seasonNumber {
  box-sizing: border-box;
  position: absolute;
  width: 67px;
  height: 33px;
  left: 277px;
  top: 545px;
  border: 1px solid #878787;
  border-radius: 4px;
  padding: 7px;
}

#episodeNumber {
  box-sizing: border-box;
  position: absolute;
  width: 67px;
  height: 33px;
  left: 277px;
  top: 592px;
  border: 1px solid #878787;
  border-radius: 4px;
  padding: 7px;
}

.background {
  width: 393px;
  height: 852px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.title {
  font-size: 18px;
  position: absolute;
  width: 294px;
  left: 48px;
  font-weight: 700;
  top: 195px;
}

.description {
  font-size: 14px;
  position: absolute;
  width: 294px;
  top: 298px;
  font-weight: 300;
  left: 48px;
}

.seasonNumber {
  font-size: 14px;
  position: absolute;
  left: 257px;
  top: 410px;
}

.episodeNumber {
  font-size: 14px;
  position: absolute;
  left: 257px;
  top: 458px;
}

.audio-clip {
  position: absolute;
  bottom: 175px;
  right: 18px;
}
